:root {
    --dark: #2D3142;
    --light: #AFC2D5;
    --contrast: #FBFFB9;
    --shadow: #2d314266;
    --danger: #f23427;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-container {
    min-height: calc(100vh - 70px);
}



a { 
    text-decoration: none; 
} 

ul { 
    list-style: none; 
}

.main-footer {
    padding: 1rem;
    text-align: center;
}

.react-calendar {
    border: none;
    padding-right: 20px;
}

.sidebar {
    display: flex;
    align-items: center;
    background-color: var(--light);
    border: solid 1px var(--light);
}