.screen {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.res-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}