.calendar {
    width: 250px;
}

button {
    color: white;
}

.react-calendar__month-view__weekdays__weekday {
    color: white;
}

button.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day{
    background-color: purple;
}

.react-calendar__month-view__days__day--weekend abbr{
    color: var(--contrast);
}