.nav-bar {
  background-color: var(--light);
  width: 100%;
  box-shadow: 1.7px 1.7px 1.7px 1.7px var(--shadow);
  border-radius: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--dark);
  background-color: var(--light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: var(--light);
  background-color: var(--dark);
}
