.res-list {
  width: 180px;
  border: solid black 1px;
  padding: 5px 0 5px 5px;
  border-radius: 5px;
  margin: 10px;
  background-color: var(--dark);
  color: white;
  box-shadow: 1.8px 1.8px 1px rgba(219, 214, 214, 0.897),
    0 1px 2px rgba(204, 200, 200, 0.795);
}
