.res-list {
  width: 210px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--contrast);
  color: var(--dark);
  box-shadow: inset 2px 2px 2px 2px var(--shadow);
}

.italics {
  font-style: italic;
}