.venue-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 85px;
  height: 85px;
  margin: 10px;

  border: 2px solid var(--dark);
  border-radius: 50%;

  color: var(--dark);
  background-color: var(--light);
  box-shadow: 2px 2px 2px 2px var(--shadow);
}

.unavailable {
  opacity: 0.5;
}

#table-number {
  font-weight: bold;
}

#covers {
  font-style: italic;
  font-size: small;
}
